@font-face {
    font-family: normal;
    src: url(../assets/fonts/PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face {
    font-family: bold;
    src: url(../assets/fonts/LINESeedJP-Bold.ttf);
}

@font-face {
    font-family: thin;
    src: url(../assets/fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf);
}

body {
    margin: 0;
    padding: 0;
}

header {
    /* background-color: rgb(236, 167, 167); */
    display: flex;
    background-color: #EBF0F5;
    height: 60px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1000;
}

.logo {
    display: flex;
    margin-top: -5px;
}

.logo h1{
    display: flex;
    gap: 7px;
    margin-left: 30px;
    color: #287dbe;
    font-family: normal;
}

.icone-logo {
    width: auto;
    height: 1.2em;
    filter: invert(42%) sepia(51%) saturate(546%) hue-rotate(162deg) brightness(91%) contrast(88%);
}

.links ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    color: #287dbe;
    align-items: center;
}

.links a {
    font-family: normal;
    font-weight: bold;
    font-size: large;
    text-decoration: none;
    color: inherit;
}

.links li a:hover {
    font-weight: bolder;
    font-family: thin;
}

.searchbar {
    display: flex;
    justify-content: center;
    border:2px solid #287dbe;
    /* overflow: hidden; */
    margin-right: 50px;
    border-radius: 4px;
}

.searchbar button img {
    height: 10px;
}

.searchbar input {
    border: none;
    outline: none;
    flex-grow: 1;
}

.searchbar button {
    width: auto;
    cursor: pointer;
    background-color: #287dbe;
    border: none;
}

.searchbar button img {
    filter: brightness(0) invert(1);
}

.top-img {
    margin-top: 60px;
    width: 100%;
    left: 0;
    overflow: hidden;
    background-color: black;
}
.top-img img {
    max-width: 100%;
    object-fit: cover;
}

.container {
    display: flex;
    justify-content: space-around;
}