@font-face {
    font-family: normal;
    src: url(../assets/fonts/PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face {
    font-family: bold;
    src: url(../assets/fonts/LINESeedJP-Bold.ttf);
}

@font-face {
    font-family: thin;
    src: url(../assets/fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf);
}

html, body {
    height: 100%;
}

* {
    margin: 0;
    top: 0;
}

body {
    font-family: normal;
}

header {
    /* background-color: rgb(236, 167, 167); */
    display: flex;
    background-color: #EBF0F5;
    height: 60px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1000;
}

.logo {
    display: flex;
    margin-left: 30px;
    margin-top: -5px;
}

.logo h1{
    display: flex;
    gap: 7px;
    margin-left: 30px;
    color: #287dbe;
    font-family: normal;
}

.icone-logo {
    width: auto;
    height: 1.2em;
    filter: invert(42%) sepia(51%) saturate(546%) hue-rotate(162deg) brightness(91%) contrast(88%);
}

.links ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    color: #287dbe;
    align-items: center;
}

.links a {
    font-family: normal;
    font-weight: bold;
    font-size: large;
    text-decoration: none;
    color: inherit;
}

.links li a:hover {
    font-weight: bolder;
    font-family: thin;
}

.searchbar {
    display: flex;
    justify-content: center;
    border:2px solid #287dbe;
    /* overflow: hidden; */
    margin-right: 50px;
    border-radius: 4px;
}

.searchbar button img {
    height: 10px;
}

.searchbar input {
    border: none;
    outline: none;
    flex-grow: 1;
}

.searchbar button {
    width: auto;
    cursor: pointer;
    background-color: #287dbe;
    border: none;
}

.searchbar button img {
    filter: brightness(0) invert(1);
}

.top-img {
    margin-top: 60px;
    width: 100%;
    left: 0;
    overflow: hidden;
    background-color: black;
}
.top-img img {
    width: 100%;
    object-fit: cover;
}

.container {
    display: flex;
    justify-content: center;
    width: 70%;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    margin: 0 auto 40px auto;
    gap: 20px;
    border-radius: 9px;
    min-height: 100vh;
}

.container h1 {
    color: #287dbe;
    display: flex;
    gap: 10px;
}

.container h1 img {
    height: 1em;
    margin-top: 3px;
    filter: invert(42%) sepia(51%) saturate(546%) hue-rotate(162deg) brightness(91%) contrast(88%);
}

.containerRecettes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-left: 50px;
}

.display {
    margin-bottom: 60px;
}

.display h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

h2 {
    font-weight: lighter;
}

.recettes {
    width: 250px;
    height: 275px;
    background-color: #d1e1ef ;
    border-radius: 6px;
    overflow: hidden;
}

.recettes p{
    display: flex;
    align-items: center;
    justify-content: flex-start;

    margin: 0;
    padding-left: 10px;
    padding-top: 5px;
}

.imgRecette {
    width: 100%;
    height: 75%;
}

.imgRecette img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.stars {
    margin-top: 8px;
    margin-left: 10px;
}

.listeRecettes h2 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 24px;
}

.liste {
    border-top: 1px solid #eee;
    display: flex;
    gap: 10px;
}

.liste div img{
    height: 60px;
}

.bold {
    font-weight: bolder;
}

.listeRecettes {
    width: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}